*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header{
	background: pink;
	height: 60px;
}

header h3{
	font-size: 30px;
	width: 285px;
	padding: 12px 0 0 10px;
}

main ul li{
	display: inline-block;
	background-color: #ddd;
	margin: 10px;
	border-radius: 10px;
}

main p{
	padding:10px 10px;
	text-align: center;
}